@media only screen and (min-width: 768px) {
  header {
    background-color: #2effdd;
    display: flex;
    justify-content: space-between;
  }

  .mobile-top-bar {
    width: 40%;
    height: 20%;
  }

  nav #mobileMenu {
    display: flex;
  }

  nav .desktop-menu {
    display: flex;
    flex-direction: row;
    margin-right: 2em;
  }

  nav ul li {
    padding: .5em 1em;
    border-radius: 5px;
  }

  nav ul li button {
    background: #f15a24;
    border: none;
    border-radius: 20px;
    padding: 0.8em 2em;
    color: white;
    margin-top: 1em;
    cursor: pointer;
  }

  .toggleMobileMenu {
    display: none;
  }

  .hero-section {
    display: flex;
  }

  .hero-section .text-block {
    margin-top: 1em;
  }

  .hero-section .hero-image {
    margin-left: 5em;
    margin-bottom: -3.2em;
    margin-top: -1em;
    width: 25%;
  }

  .hero-section h1,
  .hero-section p {
    text-align: left;
  }

  .service-item {
    display: flex;
    text-align: left;
  }

  .why-me {
    display: flex;
    flex-direction: column;
  }

  .all-reasons {
    display: flex;
  }

  .reason {
    margin: 1em 0.5em;
  }

  .all-clients {
    display: flex;
  }

  .client {
    margin: 0 0.5em;
  }

  .my-quote {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
  }

  .e-book {
    display: flex;
    text-align: left;
  }

  footer {
    display: flex;
    justify-content: space-between;
  }

  footer img {
    width: 40%;
  }

  footer small {
    width: 50%;
    text-align: right;
    margin-top: 3em;
  }
}
