@media screen {
    header {
        display: flex;
        justify-content: space-between;
    }

    #mobileMenu {
        display: block;
        background: red;
    }

    .service-item {
        display: flex;
        text-align: left;
    }

    .why-me {
        display: flex;
        flex-direction: column;
    }

    .all-reasons {
        display: flex;
    }

    .reason {
        margin: 1em .5em;

    }

    .all-clients {
        display: flex;
    }

    .client {
        margin: 0 .5em;
    }

    .my-quote {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5em;
    }

    .e-book {
        display: flex;
        text-align: left;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }

    footer img {
        width: 40%;
    }

    footer small {
        width: 50%;
        text-align: right;
        margin-top: 3em;
    }
}