@media only screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  /* header {
    background: #2effdd;
    display: flex;
    justify-content: space-between;
  } */

  .mobile-top-bar img {
    width: 100%;
  }

  /* header #mobileMenu {
    display: flex;
  } */
}
